<ion-header [translucent]="true" class="shadow-none">
  <ion-toolbar>
    <ion-title class="fw-bold" style="--color:var(--base-color)">Ventes</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true" class="ion-padding">
  <!-- <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large" style="--color:var(--base-color)">Ventess</ion-title>
    </ion-toolbar>
  </ion-header> -->
  <div class="d-flex w-100 mb-2">
    <div class="tabs-choises d-flex justify-content-between p-2 m-auto w-75">
      <button (click)="tabs_choice_change(1)" [ngClass]="{'tabs-choises_button_active':tabs_choice==1}">Toutes</button>
      <button (click)="tabs_choice_change(2)" [ngClass]="{'tabs-choises_button_active':tabs_choice==2}">Dette</button>
      <button (click)="tabs_choice_change(3)" [ngClass]="{'tabs-choises_button_active':tabs_choice==3}">Sans</button>
    </div>
    <ion-button class="w-25 ms-2 rounded rounded-3" style="--background: var(--base-color);"
      (click)="openModal_add_ventes()"><i class="bi bi-plus-square-dotted me-1"></i></ion-button>
  </div>
  <!-- Liste des ventes -->
  @if (!loading_get_ventes && list.length > 0) {
  <ion-list class="bg-transparent">
    @for (une_vente of list; track une_vente) {
    <ion-item button (click)="openModal_detail_vente(une_vente)" class=" rounded rounded-2 mb-2">
      <ion-label>
        <!-- Ligne 1 : ID + Badge -->
        <div class="d-flex justify-content-between align-items-start">
          <h2 class="vente-id">Vente #{{ une_vente.id }}</h2>
          <span class="badge py-2 px-3 rounded-2" [ngClass]="{
              'bg-success-subtle text-success-emphasis':
                une_vente.etat_vente?.id === 1,
              'bg-danger-subtle text-danger-emphasis':
                une_vente.etat_vente?.id === 2
            }">
            {{ une_vente.etat_vente?.libelle_etat_vente || "En attente" }}
          </span>
        </div>

        <!-- Ligne 2 : Date -->
        <p class="vente-date">
          <i class="bi bi-calendar-event me-1"></i>
          {{ une_vente.date | date : "d MMM yyyy" }} à {{ une_vente.created_at | date : "HH:mm" }}
        </p>

        <!-- Ligne 3 : Client -->
        <p class="vente-client">
          <i class="bi bi-person me-1 text-primary-base"></i>
          {{ une_vente.client?.nom_client || "Client inconnu" }}
        </p>

        <!-- Ligne 4 : Total -->
        <p class="vente-total text-primary-base">
          <i class="bi bi-coin"></i> {{ getTotal(une_vente.detail_ventes) }} FCFA
        </p>
      </ion-label>
    </ion-item>
    }
  </ion-list>

  }

  <!-- Empty state -->
  <div *ngIf="!loading_get_ventes && list.length === 0" class="text-center py-5">
    <svg xmlns="http://www.w3.org/2000/svg" width="80" height="80" fill="#6c757d" class="bi bi-info-circle mb-3"
      viewBox="0 0 16 16">
      <path d="M8 15A7 7 0 1 1 8 1a7 7 0 0 1 0 14m0 1A8 8 0 1 0 8 0a8 8 0 0 0 0 16" />
      <path
        d="m8.93 6.588-2.29.287-.082.38.45.083c.294.07.352.176.288.469l-.738 3.468c-.194.897.105 1.319.808 1.319.545 0 1.178-.252 1.465-.598l.088-.416c-.2.176-.492.246-.686.246-.275 0-.375-.193-.304-.533zM9 4.5a1 1 0 1 1-2 0 1 1 0 0 1 2 0" />
    </svg>
    <h5 class="text-muted">Aucune donnée trouvée</h5>
    <p class="text-muted">Essayez de modifier vos critères de recherche</p>
  </div>


  <!-- Loading state -->
  <ng-container *ngIf="loading_get_ventes">
    <div class="text-center py-5">
      <div class="spinner-border text-primary-base" role="status">
        <span class="visually-hidden">Chargement en cours...</span>
      </div>
      <p class="mt-2 text-muted fs-5">Chargement en cours...</p>
    </div>
  </ng-container>

</ion-content>
