<ion-header [translucent]="true" class="shadow-none">
  <ion-toolbar>
    <ion-title class="fw-bold" style="--color:var(--base-color)">Clients</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true" class="ion-padding">
 <!-- Card filtres -->
  <div class="bg-white rounded-2  shadow-sm">
    <!-- Barre de filtres améliorée -->
    <div class="">
      <div class="input-group">
        <span class="input-group-text">
          <i class="bi bi-search"></i>
        </span>
        <input type="text" class="form-control" placeholder="Rechercher par produit, par catégorie..."
          [(ngModel)]="filter.text" (input)="filtrer()" />
      </div>
    </div>
  </div>

  <!-- <ion-button class="w-100 mt-3 rounded rounded-3" style="--background: var(--base-color);" (click)="openModal_add_produits()"><i class="bi bi-plus-square-dotted me-1"></i></ion-button> -->
  <!-- Liste des éléments -->
  <!-- Loading state -->
  <ng-container *ngIf="loading_get_clients">
    <div class="text-center py-5">
      <div class="spinner-border text-primary-base" role="status">
        <span class="visually-hidden">Chargement en cours...</span>
      </div>
      <p class="mt-2 text-muted fs-5">Chargement en cours...</p>
    </div>
  </ng-container>

  <!-- Liste des ventes -->
  @if (!loading_get_clients && list.length > 0) {
  <ion-list class="bg-transparent mt-2">
    @for (one_client of list; track one_client) {
    <ion-item-sliding>
      <ion-item class=" rounded rounded-2 mb-2 bg-transparent">
        <ion-label>
          <!-- Ligne 1 : ID + Badge -->
          <h2 class="vente-id text-primary-base">{{ one_client?.nom_client }}</h2>


          <!-- Ligne 2  -->
          <p class="vente-client text-secondary">
            <i class="bi bi-house"></i>
            {{one_client?.adresse||"?"}}
          </p>

          <div class="d-flex justify-content-between align-items-center">
            <!-- Ligne 3 :  -->
            <p class="vente-date text-secondary">
              <i class="bi bi-phone"></i>
              {{one_client?.telephone||"?"}}
            </p>

            <!-- Ligne 4 :  -->
            <ion-badge class="badge"  [ngClass]="{'text-success-emphasis bg-success-subtle':one_client.dette==0,'text-danger-emphasis bg-danger-subtle':one_client.dette>0}">
              <i class="bi bi-coin"></i>  {{(one_client.dette| number : "1.0-0" : "fr-FR")||0}} F cfa
            </ion-badge>
          </div>
        </ion-label>
      </ion-item>
      <ion-item-options class="bg-transparent" side="start">
        <ion-item-option class="bg-transparent text-danger">
          <ion-button fill="outline" color="medium" (click)="openModal_edit_clients(one_client)">
            <i class="bi bi-pencil-square"></i>
          </ion-button>
        </ion-item-option>
      </ion-item-options>
      <ion-item-options class="bg-transparent" side="end">
        <ion-item-option class="bg-transparent text-danger">
          <ion-button fill="outline" color="medium" (click)="openModal_edit_clients(one_client)">
            <i class="bi bi-pencil-square"></i>
          </ion-button>
        </ion-item-option>
      </ion-item-options>
    </ion-item-sliding>
    }
  </ion-list>

  }
  <!-- Empty state -->
  <div *ngIf="!loading_get_clients && list.length === 0" class="text-center py-5">
    <svg xmlns="http://www.w3.org/2000/svg" width="80" height="80" fill="#6c757d" class="bi bi-info-circle mb-3"
      viewBox="0 0 16 16">
      <path d="M8 15A7 7 0 1 1 8 1a7 7 0 0 1 0 14m0 1A8 8 0 1 0 8 0a8 8 0 0 0 0 16" />
      <path
        d="m8.93 6.588-2.29.287-.082.38.45.083c.294.07.352.176.288.469l-.738 3.468c-.194.897.105 1.319.808 1.319.545 0 1.178-.252 1.465-.598l.088-.416c-.2.176-.492.246-.686.246-.275 0-.375-.193-.304-.533zM9 4.5a1 1 0 1 1-2 0 1 1 0 0 1 2 0" />
    </svg>
    <h5 class="text-muted">Aucune donnée trouvée</h5>
    <p class="text-muted">Essayez de modifier vos critères de recherche</p>
  </div>
  <!-- IonFab -->
  <!-- <ion-fab horizontal="end" vertical="bottom" slot="fixed">
    <ion-fab-button style="--background:var(--base-color);" (click)="openModal_add_produits()">
      <i class="bi bi-plus-square-dotted fs-4"></i>
    </ion-fab-button>
  </ion-fab> -->
</ion-content>
