<ion-tabs>
  <ion-tab-bar slot="bottom" class="custom-tab-bar">
    <ion-tab-button tab="accueil" href="/tabs/accueil">
      <ion-icon aria-hidden="true" name="home-outline"></ion-icon>
      <ion-label>Accueil</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="ventes" href="/tabs/ventes">
      <ion-icon aria-hidden="true" name="cash-outline"></ion-icon>
      <ion-label>Ventes</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="stock" href="/tabs/stock">
      <ion-icon aria-hidden="true" name="apps-outline"></ion-icon>
      <ion-label>Stock</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="parametres" href="/tabs/parametres">
      <ion-icon aria-hidden="true" name="cog-outline"></ion-icon>
      <ion-label>Paramètres</ion-label>
    </ion-tab-button>
  </ion-tab-bar>
</ion-tabs>
