ion-tab-bar {
  --background: var(--base-color);
  /* Change la couleur de fond ici */
  --color: white;
  /* Change la couleur du texte ici */
  --color-selected: var(--secondary-color);
  /* Change la couleur de l'onglet sélectionné */
}
