<ion-header [translucent]="true" class="shadow-none">
  <ion-toolbar>
    <ion-title class="fw-bold" style="--color:var(--base-color)">Approvisionnments</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true" class="ion-padding">
  <!-- Valorisation -->
  <div class="bg-white rounded-2 mb-4 p-2 shadow-sm d-flex flex-column justify-content-between align-items-center">
    <div class="d-flex align-items-center">
      <i class="bi bi-box-seam me-2 text-primary-base" style="font-size: 1.5rem;"></i>
      <span class="fw-bold text-primary-base">Somme Totale</span>
    </div>
    <span class="badge bg-success-subtle text-success-emphasis fs-5  ">{{getSommeTotaleAppro()| countUp:1500}} F CFA</span>
  </div>

  <!-- Card filtres -->
  <div class="bg-white rounded-2 shadow-sm">
    <!-- Barre de filtres améliorée -->
    <div class="">
      <div class="input-group">
        <span class="input-group-text">
          <i class="bi bi-search"></i>
        </span>
        <input type="text" class="form-control" placeholder="Rechercher par produit, par catégorie..."
          [(ngModel)]="filter.text" (input)="filtrerApprovisionnements()" />
      </div>
    </div>
  </div>

   <!-- Liste des ventes -->
  @if (!loading_get_approvisionnements && approvisionnementsFiltres.length > 0) {
  <ion-list class="bg-transparent">
    @for (un_appro of approvisionnementsFiltres; track un_appro) {
    <ion-item button (click)="openModal_detail_approvisionnements(un_appro)" class=" rounded rounded-2 mb-2">
      <ion-label>
        <!-- Ligne 1 : ID + Badge -->
        <div class="d-flex justify-content-between align-items-start">
          <h2 class="vente-id">Appro #{{ un_appro.id }}</h2>
          <span class="badge py-2 px-3 rounded-2" [ngClass]="{
              'bg-success-subtle text-success-emphasis':
                un_appro.etat_approvisionnement?.id === 2,
              'bg-danger-subtle text-danger-emphasis':
                un_appro.etat_approvisionnement?.id === 1
            }">
            {{ un_appro.etat_approvisionnement?.libelle_etat_approvisionnement || "En attente" }}
          </span>
        </div>

        <!-- Ligne 2 : Date -->
        <p class="vente-date">
          <i class="bi bi-calendar-event me-1"></i>
          {{ un_appro.date | date : "d MMM yyyy" }} à {{ un_appro.created_at | date : "HH:mm" }}
        </p>

        <!-- Ligne 3 : Client -->
        <div class="d-flex justify-content-between">
          <p class="vente-client text-secondary">
            <i class="bi bi-truck me-1 "></i>
            {{ un_appro.fournisseur?.nom_fournisseur || "Client inconnu" }}
          </p>
          <!-- Ligne 4 : Total -->
          <p class="vente-total text-primary-base">
            <i class="bi bi-coin"></i> {{ getTotal(un_appro.detail_approvisionnements)| number:'':'fr' }} FCFA
          </p>
        </div>
      </ion-label>
    </ion-item>
    }
  </ion-list>

  }

  <!-- Empty state -->
  <div *ngIf="!loading_get_approvisionnements && approvisionnementsFiltres.length === 0" class="text-center py-5">
    <svg xmlns="http://www.w3.org/2000/svg" width="80" height="80" fill="#6c757d" class="bi bi-info-circle mb-3"
      viewBox="0 0 16 16">
      <path d="M8 15A7 7 0 1 1 8 1a7 7 0 0 1 0 14m0 1A8 8 0 1 0 8 0a8 8 0 0 0 0 16" />
      <path
        d="m8.93 6.588-2.29.287-.082.38.45.083c.294.07.352.176.288.469l-.738 3.468c-.194.897.105 1.319.808 1.319.545 0 1.178-.252 1.465-.598l.088-.416c-.2.176-.492.246-.686.246-.275 0-.375-.193-.304-.533zM9 4.5a1 1 0 1 1-2 0 1 1 0 0 1 2 0" />
    </svg>
    <h5 class="text-muted">Aucune donnée trouvée</h5>
    <p class="text-muted">Essayez de modifier vos critères de recherche</p>
  </div>


  <!-- Loading state -->
  <ng-container *ngIf="loading_get_approvisionnements">
    <div class="text-center py-5">
      <div class="spinner-border text-primary-base" role="status">
        <span class="visually-hidden">Chargement en cours...</span>
      </div>
      <p class="mt-2 text-muted fs-5">Chargement en cours...</p>
    </div>
  </ng-container>


  <!-- IonFab -->
  <ion-fab horizontal="end" vertical="bottom" slot="fixed">
    <ion-fab-button style="--background:var(--base-color);" (click)="openModal_add_approvisionnements()">
      <i class="bi bi-plus-square-dotted fs-4"></i>
    </ion-fab-button>
  </ion-fab>
</ion-content>
