<ion-header [translucent]="true" class="shadow-none">
  <ion-toolbar>
    <ion-chip (click)="modalService.dismiss()">
      <i class="bi bi-x-circle"></i>
      <!--   -->
    </ion-chip>
  </ion-toolbar>
</ion-header>
<ion-content [fullscreen]="true" class="vente-detail-content ion-padding">

  <div
    class="d-flex align-items-center justify-content-between  bg-white shadow-sm p-4 rounded rounded-2 mb-4 border border-1">
    <div class="d-flex  align-items-center">
      <div class="fs-5">Inventaire du
        <!-- <span class="text-primary-base-base fw-bold"> {{api.format_date(inventaire?.date).jma2}}</span> -->
        <span class="text-primary-base-base fw-bold"> {{ inventaire?.created_at | date : "d MMMM yyyy" }} à {{
          inventaire?.created_at | date : "HH:mm"}}</span>
        @if (inventaire?.date_heure_cloture) {
        au
        <span class="text-primary-base-base fw-bold"> {{ inventaire?.date_heure_cloture | date : "d MMMM yyyy" }} à {{
          inventaire?.date_heure_cloture | date : "HH:mm"}}</span>
        }

      </div>
    </div>
  </div>
  <!-- Liste des éléments -->
  <!-- Valorisation -->
  <!-- Valorisation -->
  <div class="bg-white rounded-2 mb-4 p-2 shadow-sm d-flex flex-column justify-content-between align-items-center">
    <div class="d-flex align-items-center">
      <i class="bi bi-box-seam me-2 text-primary-base" style="font-size: 1.5rem;"></i>
      <span class="fw-bold text-primary-base">Valorisation du Stock</span>
    </div>
    <span class="badge bg-success-subtle text-success-emphasis fs-5  ">{{valeur_stock| countUp:1500}} F CFA</span>
  </div>
  <!-- Card filtres -->
  <div class="bg-white rounded-2 mb-4 p-3 shadow-sm">
    <!-- Barre de filtres améliorée -->
    <div class="">
      <div class="input-group">
        <span class="input-group-text">
          <i class="bi bi-search"></i>
        </span>
        <input type="text" class="form-control" placeholder="Rechercher par produit, par catégorie..."
          [(ngModel)]="filter.text" (input)="filtrer()" />
      </div>
    </div>
  </div>
  <!-- Loading state -->
  <ng-container *ngIf="loading_get_detail_inventaires">
    <div class="text-center py-5">
      <div class="spinner-border text-primary-base" role="status">
        <span class="visually-hidden">Chargement en cours...</span>
      </div>
      <p class="mt-2 text-muted fs-5">Chargement en cours...</p>
    </div>
  </ng-container>




  <!-- IonFab -->
  <ion-fab horizontal="end" vertical="bottom" slot="fixed">
    <ion-fab-button style="--background:var(--base-color);">
      <i class="bi bi-info-circle fs-4"></i>
    </ion-fab-button>
    <ion-fab-list side="top">
      <ion-fab-button style="--background:var(--base-color);--color:white">
        <i class="bi bi-pencil-square"></i>
      </ion-fab-button>
    </ion-fab-list>
  </ion-fab>
  <!-- Empty state -->
  <div *ngIf="!loading_get_detail_inventaires && detail_inventaires.length === 0" class="text-center py-5">
    <svg xmlns="http://www.w3.org/2000/svg" width="80" height="80" fill="#6c757d" class="bi bi-info-circle mb-3"
      viewBox="0 0 16 16">
      <path d="M8 15A7 7 0 1 1 8 1a7 7 0 0 1 0 14m0 1A8 8 0 1 0 8 0a8 8 0 0 0 0 16" />
      <path
        d="m8.93 6.588-2.29.287-.082.38.45.083c.294.07.352.176.288.469l-.738 3.468c-.194.897.105 1.319.808 1.319.545 0 1.178-.252 1.465-.598l.088-.416c-.2.176-.492.246-.686.246-.275 0-.375-.193-.304-.533zM9 4.5a1 1 0 1 1-2 0 1 1 0 0 1 2 0" />
    </svg>
    <p class="fs-5 text-muted">Pas de données</p>
  </div>
</ion-content>
