// .vente-detail-content {
//   --background: #f9f9f9;
//   padding: 0 10px 20px;
// }

// .header-card {
//   .vente-date,
//   .vente-client {
//     font-size: 14px;
//     color: #666;
//     margin: 4px 0;
//   }
// }
