<ion-header [translucent]="true" class="shadow-none">
  <ion-toolbar>
    <ion-chip (click)="modalService.dismiss()">
      <i class="bi bi-x-circle me-1"></i>
      <ion-label>Fermer</ion-label>
    </ion-chip>
    <ion-chip slot="end" class="validate-button">
      <ion-label>Modifier</ion-label>
      <i class="bi bi-pencil-square ms-1"></i>
    </ion-chip>
  </ion-toolbar>
</ion-header>
<ion-content [fullscreen]="true" class="vente-detail-content ion-padding">

  <!-- Section entête -->
  <div class="header-card bg-white rounded rounded-4 p-2 text-center">
    <h2 class="text-primary-base fw-bold">Vente #{{ ventes_to_view?.id }}</h2>
    <p class="vente-date">
      <i class="bi bi-calendar-event me-1"></i>
      {{ ventes_to_view?.date | date:'d MMMM yyyy' }} à {{ ventes_to_view?.created_at | date:'HH:mm' }}
    </p>
    <p class="vente-client">
      <i class="bi bi-person me-1"></i>
      {{ ventes_to_view?.client?.nom_client || 'Client inconnu' }}
    </p>

    <div class="d-flex justify-content-between align-items-center">
      <ion-badge
        [ngClass]="ventes_to_view?.etat_vente?.id === 1 ? 'text-success-emphasis bg-success-subtle' : 'text-danger-emphasis bg-danger-subtle'">
        {{ ventes_to_view?.etat_vente?.libelle_etat_vente || 'En attente' }}
      </ion-badge>
      <ion-badge class="text-success-emphasis bg-success-subtle">
        {{ getTotal(ventes_to_view?.detail_ventes) | number:'':'fr' }} FCFA
      </ion-badge>
    </div>
  </div>

  <!-- Liste des produits -->
  <ion-list class="rounded rounded-3 bg-transparent">
    <h3 class="fs-5">Produits</h3>
    <ng-container *ngIf="ventes_to_view?.detail_ventes?.length;">
      @for (detail of ventes_to_view.detail_ventes; track $index) {
      <ion-item class="header-card bg-white rounded rounded-4 mb-2">
        <ion-label class="ion-text-wrap">
          <h4 class="fw-bold">{{ detail.produit?.libelle_produit || 'Produit inconnu' }}</h4>
          <p>Quantité : <strong>{{ detail.quantite }}</strong></p>
          <p>Prix unitaire : {{ detail.prix_unitaire | number:'':'fr' }} FCFA</p>
          <p>Entrepôt : {{ detail.rangement?.entrepot?.libelle_entrepot || 'N/A' }}</p>
          <p>Rangement : {{ detail.rangement?.libelle_rangement || '-' }}</p>
        </ion-label>
        <ion-badge class="text-success-emphasis bg-success-subtle">
          {{ (detail.quantite * detail.prix_unitaire) | number:'':'fr' }} FCFA
        </ion-badge>
      </ion-item>
      }
    </ng-container>
  </ion-list>
  <app-acomptes [seletected_vente]="ventes_to_view"></app-acomptes>
  <!-- Boutons d'action -->
  <div class="d-flex justify-content-between w-75 m-auto">
    <ion-button fill="outline" color="medium">
      <i class="bi bi-file-earmark-text me-1"></i> Facture
    </ion-button>
    <ion-button fill="outline" color="medium">
      <i class="bi bi-printer me-1"></i> Ticket
    </ion-button>
  </div>
</ion-content>
