.vente-detail-content {
  --background: #f9f9f9;
  padding: 0 10px 20px;
}

.header-card {
  background: white;
  border-radius: 16px;
  padding: 16px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.06);
  margin: 16px 0;
  text-align: center;

  .vente-id {
    font-weight: 700;
    color: var(--ion-color-primary);
  }
  .vente-date,
  .vente-client {
    font-size: 14px;
    color: #666;
    margin: 4px 0;
  }

  .status-total {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 12px;

    .total {
      font-size: 16px;
    }
  }
}

.produit-list {
  background: transparent;

  .produit-item {
    background: white;
    margin: 8px 0;
    border-radius: 12px;
    box-shadow: 0 2px 6px rgba(0, 0, 0, 0.05);

    ion-label h4 {
      font-size: 16px;
      font-weight: 600;
      color: var(--ion-color-dark);
    }

    .sous-total {
      font-size: 14px;
      font-weight: bold;
      color: var(--ion-color-success);
    }
  }
}

.actions {
  margin: 20px 0;
  display: flex;
  justify-content: space-evenly;

  ion-button {
    min-width: 40%;
    border-radius: 12px;
  }
}
