<ion-header [translucent]="true" class="shadow-none">
  <ion-toolbar>
    <ion-title class="fw-bold" style="--color:var(--base-color)">Stock</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true" class="ion-padding">
  <!-- Valorisation -->
  <div class="bg-white rounded-2 mb-4 p-3 shadow-sm d-flex flex-column justify-content-between align-items-center">
    <div class="d-flex align-items-center">
      <i class="bi bi-box-seam me-2 text-primary-base" style="font-size: 1.5rem;"></i>
      <span class="fw-bold text-primary-base">Valorisation du Stock</span>
    </div>
    <span class="badge bg-success-subtle text-success-emphasis fs-5 px-3 py-2 ">{{valeur_stock| number : "1.0-0" :
      "fr-FR"}} F CFA</span>
  </div>

  <!-- Card filtres -->
  <div class="bg-white rounded-2 shadow-sm">
    <!-- Barre de filtres améliorée -->
    <div class="">
      <div class="input-group">
        <span class="input-group-text">
          <i class="bi bi-search"></i>
        </span>
        <input type="text" class="form-control" placeholder="Rechercher par produit, par catégorie..."
          [(ngModel)]="filter.text" (input)="filtrer()" />
      </div>
    </div>
  </div>
  <!-- Loading state -->
  <ng-container *ngIf="loading_get_stock">
    <div class="text-center py-5">
      <div class="spinner-border text-primary-base" role="status">
        <span class="visually-hidden">Chargement en cours...</span>
      </div>
      <p class="mt-2 text-muted fs-5">Chargement en cours...</p>
    </div>
  </ng-container>

 <ng-container *ngIf="!loading_get_stock; else skeleton">
    <ion-list>
      <ion-card *ngFor="let one_stock of list" class="shadow-none border border-2">
        <!-- Produit -->
        <ion-card-header class="bg-light">
          <ion-card-title class="text-muted ">
            {{ one_stock.libelle_produit }}
          </ion-card-title>
          <!-- <ion-label>{{ one_stock.libelle_produit }}</ion-label> -->
          <ion-badge [ngClass]="[one_stock.bg_couleur,one_stock.couleur]" class="fs-6 mt-1">
            {{ one_stock.quantite_total }}
          </ion-badge>
        </ion-card-header>

        <!-- Entrepôts -->
        <ion-card-content>
          <ion-accordion-group>
            <ion-accordion *ngFor="let one_entrepot of one_stock.entrepots">
              <ion-item slot="header" lines="full">
                <ion-label>{{ one_entrepot.nom }}</ion-label>
                <ion-badge slot="end" [ngClass]="[one_entrepot.bg_couleur,one_entrepot.couleur]">
                  {{ one_entrepot.quantite }}
                </ion-badge>
              </ion-item>

              <!-- Rangements -->
              <ion-list slot="content">
                <ion-item
                  *ngFor="let one_rangement of one_entrepot.rangements"
                  lines="full"
                >
                  <ion-label>{{ one_rangement.nom }}</ion-label>
                  <ion-badge
                    slot="end"
                    [ngClass]="[one_rangement.bg_couleur,one_rangement.couleur]"
                  >
                    {{ one_rangement.quantite }}
                  </ion-badge>
                </ion-item>
              </ion-list>
            </ion-accordion>
          </ion-accordion-group>
        </ion-card-content>
      </ion-card>
    </ion-list>
  </ng-container>

  <ng-template #skeleton>
    <ion-skeleton-text animated style="width: 100%; height: 150px"></ion-skeleton-text>
  </ng-template>

  <!-- Empty state -->
  <div *ngIf="!loading_get_stock && stocks.length === 0" class="text-center py-5">
    <svg xmlns="http://www.w3.org/2000/svg" width="80" height="80" fill="#6c757d" class="bi bi-info-circle mb-3"
      viewBox="0 0 16 16">
      <path d="M8 15A7 7 0 1 1 8 1a7 7 0 0 1 0 14m0 1A8 8 0 1 0 8 0a8 8 0 0 0 0 16" />
      <path
        d="m8.93 6.588-2.29.287-.082.38.45.083c.294.07.352.176.288.469l-.738 3.468c-.194.897.105 1.319.808 1.319.545 0 1.178-.252 1.465-.598l.088-.416c-.2.176-.492.246-.686.246-.275 0-.375-.193-.304-.533zM9 4.5a1 1 0 1 1-2 0 1 1 0 0 1 2 0" />
    </svg>
    <p class="fs-5 text-muted">Pas de données</p>
  </div>
</ion-content>
