<ion-header [translucent]="true" class="shadow-none" mode="md">
  <ion-toolbar>
    <ion-title class="fw-bold" style="--color:var(--base-color)">Vue globale</ion-title>
  </ion-toolbar>
  <div class="row px-3">
    <!-- Filtre par période -->
    @if(filter.typeFiltre === 'periode'){
    <div class="col-md-12">
      <select class="form-select" [(ngModel)]="filter.periode" (change)="filtrer()">
        <option value="annuel">Annuel</option>
        <option value="aujourd'hui">Aujourd'hui</option>
        <option value="7jours">7 derniers jours</option>
        <option value="15jours">15 derniers jours</option>
        <option value="30jours">30 derniers jours</option>
        <option value="autres">Autres</option>
      </select>
    </div>
    }
    <!-- Filtre par date début -->
    @if(filter.typeFiltre === 'autres'){
    <div class="w-50 mt-2">
      <ion-input mode="md" label="Debut" label-placement="floating" fill="outline" [(ngModel)]="filter.date_debut"
        (change)="filtrer()" [max]="filter.date_fin || ''" class="bg-transparent"></ion-input>
    </div>
    }

    <!-- Filtre par date fin -->
    @if(filter.typeFiltre === 'autres'){
    <div class="w-50 mt-2">
      <ion-input mode="md" label="Fin" class="bg-transparent" label-placement="floating" fill="outline"
        [(ngModel)]="filter.date_fin" (change)="filtrer()" [min]="filter.date_debut || ''"></ion-input>
    </div>
    }
    @if(filter.typeFiltre === 'autres'){
    <div class="text-center">
      <ion-button style="--background: var(--base-color);"
        (click)="(filter.typeFiltre='periode');filter.periode='annuel';filtrer()"><i
          class="bi bi-arrow-left fs-2 icon-color"></i></ion-button>
    </div>
    }
  </div>
</ion-header>

<ion-content [fullscreen]="true" class="ion-padding">
  <ion-header collapse="condense" mode="md">
    <ion-toolbar>
      <ion-title class="fw-bold" style="--color:var(--base-color)" size="large">Vue globale</ion-title>
    </ion-toolbar>
  </ion-header>
  <div class="loading_bloc"></div>
  <ion-row class=" ion-padding-bottom">
    <ion-col size="6" class="text-center">
      <div class="card shadow-sm kpi-card border-0 rounded-3" style="background: #e8f9f0;">
        <div class="card-body text-center">
          <span class="text-muted"><i class="bi bi-cash-stack fs-2 text-success"></i> Ventes</span>
          <p class=" text-success">{{ chiffrage.recette }} F CFA</p>
        </div> 
      </div>
    </ion-col>

    <ion-col size="6" class="text-center">
      <div class="card shadow-sm kpi-card border-0 rounded-3" style="background: #fdecea;">
        <div class="card-body text-center">
          <span class="text-muted"> <i class="bi bi-exclamation-triangle fs-2 text-danger"></i> En rupture</span>
          <p class=" text-danger">{{ chiffrage.en_rupture }}</p>
        </div>
      </div>
    </ion-col>

    <ion-col size="6" class="text-center">
      <div class="card shadow-sm kpi-card border-0 rounded-3" style="background: #e8f1fd;">
        <div class="card-body text-center">
          <span class="text-muted"><i class="bi bi-truck fs-2 text-primary"></i> Achats</span>
          <p class=" text-primary">{{ chiffrage.total_approvisionnement }} F CFA
          </p>
        </div>
      </div>
    </ion-col>

    <ion-col size="6" class="text-center">
      <div class="card shadow-sm kpi-card border-0 rounded-3" style="background: #fff7e6;">
        <div class="card-body text-center">
          <span class="text-muted"> <i class="bi bi-wallet2 fs-2 text-warning"></i> Dette client</span>
          <p class=" text-warning">{{ chiffrage.dette }} F CFA</p>
        </div>
      </div>
    </ion-col>
  </ion-row>

  <!-- graph -->
  <ion-row>
    <ion-col size="12">
      <app-evolution-vente-achat
        [data]="{ventes:dashboard?.ventes,approvisionnements:dashboard?.approvisionnements}"></app-evolution-vente-achat>
    </ion-col>

    <ion-col size="12">
      <app-mode-paiement [data]="this.dashboard?.mode_paiement"></app-mode-paiement>
    </ion-col>

    <ion-col size="12">
      <app-benefice [data]="{ventes:dashboard?.ventes,approvisionnements:dashboard?.approvisionnements}"></app-benefice>
    </ion-col>

    <ion-col size="12">
      <app-top-produit-vendu [data]="this.dashboard?.top_produit_vendu"></app-top-produit-vendu>
    </ion-col>

    <ion-col size="12">
      <app-ventes-par-heure [data]="this.dashboard?.ventes"></app-ventes-par-heure>
    </ion-col>

    <ion-col size="12">
      <app-alertes-stock [data]="this.dashboard?.stock_par_rangement"></app-alertes-stock>
    </ion-col>
  </ion-row>
</ion-content>
